.head {
    text-align: center;
    margin-bottom: 50px;
}

.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-left: 50px;

}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.cart-container {
    background-color: #FF7F50;
    margin-left: 10px;
    padding-left: 15px;

}

.asking-part {
    text-align: center;
    margin-top: 20px;
    background-color: tomato;
    color: white;
    padding: 10px 30px;
}

.asking-body {
    width: 60%;
    margin: auto;
    padding-top: 20px;
    text-align: start;
}

.asking-body label {
    font-weight: bold;
    font-size: 18px;
}

.asking-body p {
    color: rgba(255, 255, 255, 0.801);
}

.asking-body p span {
    color: white;
}



@media (max-width: 760px) {
    .product-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 550px) {
    .product-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
}